<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Djangochat</title>

        <script src="https://cdn.tailwindcss.com"></script>

        <style>
            .messages {
                height: 400px;
                overflow-y: auto;
            }
        </style>
    </head>

    <body class="bg-teal-600">
        <nav class="flex items-center justify-between px-4 py-6 bg-teal-800">
            <div>
                <a href="/" class="text-xl text-white">Djangochat</a>
            </div>

            <div class="flex items-center space-x-4">
                {% if request.user.is_authenticated %}
                    <a href="/rooms/" class="text-white hover:text-gray-200">Rooms</a>

                    <a href="/logout/" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Log out</a>
                {% else %}
                    <a href="log_in" class="text-white hover:text-gray-200">Log in</a>
            
                    <a href="sign_up" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Sign up</a>
                {% endif %}
            </div>
        </nav>
        <div class="p-10 lg:p-20 text-center">
            <h1 class="text-3xl lg:text-6xl text-white">Sign up</h1>
        </div>
        
        <form method="post" action="sign_up" class="lg:w-1/4 px-4 mx-auto">
            {% csrf_token %}
        
            <div class="mb-5">
                <label class="text-white">Username</label>
        
                <input type="text" name="username" class="w-full mt-2 px-4 py-2 rounded-xl">
            </div>
                    
            <div class="mb-5">
                <label class="text-white">Email</label>
        
                <input type="email" name="email" class="w-full mt-2 px-4 py-2 rounded-xl">
            </div>
        
        
            <div class="mb-5">
                <label class="text-white">Password</label>
        
                <input type="password" name="password1" class="w-full mt-2 px-4 py-2 rounded-xl">
            </div>
        
            <div class="mb-5">
                <label class="text-white">Repeat password</label>
        
                <input type="password" name="password2" class="w-full mt-2 px-4 py-2 rounded-xl">
            </div>
      
        
            <button class="px-5 py-3 rounded-xl text-white bg-teal-800 hover:bg-teal-700">Submit</button>
        </form>

     
    </body>
</html>